*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.895);
    text-align: justify;
    
}

body{
    background-color: rgb(0, 0, 0);
}

.bg{
    position: absolute;
    width: 110%;
    height: 100vh;
    top: -10px;
    /* right: -10px; */ 
    left: -10px;
    /* max-height: calc(340px*640px);  
    max-width: calc(340px*640px); */
    background-image: url(tsuki.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
    margin: 0;

}


.bg2{
    position: absolute;

    width: 110%;
    height: 100vh;
    top: -10px;
    left: 10px;
    scale: 110%;
    /* max-height: calc(340px*640px);  
    max-width: calc(340px*640px); */
    background-image: url(gelang.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     filter:brightness(65%) blur(1px);
    margin-top: 110vh;

} 

.bg3{
    position: absolute;

    width: 110%;
    height: 100vh;
    top: -40px;

    left: 10px;
    /* max-height: calc(340px*640px);  
    max-width: calc(340px*640px); */
    background-image: url(salak.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    scale: 110%;
    filter: brightness(60%);
    margin-top: 240vh;
    margin-bottom: 100%;

} 




.halaman1 {
    position: absolute;
    margin-top: 15vh;
    margin-left: 7vh;
    margin-right: 15vh;
    font-size: 3vh  ;
}

.credit {
    position: absolute;
    margin-top: 340vh;
    padding-bottom: 10vh;
}

button{
    background: none;
    border: 0;
}

.urnotalone p{
    font-size: 30px;
    color: white;
}